@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
	font-family: 'Orbitron', sans-serif;
	color: white;
}
*:focus {
	outline: none;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #202020;
}
body {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
h1 {
	color: #39CCCC;
	text-align: center;
	font-size: 40px;
	letter-spacing: 4px;
}
h2 {
	margin-bottom: 10px;
	color: #39CCCC;
	font-size: 29px;
	font-weight: 500;
	letter-spacing: 2px;
}
button {
    padding: 6px 5px 3px;
    margin: 5px 4px;
    border-radius: 4px;
    border: solid 1px white;
    background-color: #272727;
    letter-spacing: 1px;
    transition: .5s;
}
button:hover {
	border-color: #39CCCC;
	color: #39CCCC;;
}
input {
	width: 45px;
	padding: 4px 0px 2px;
	margin: 5px 4px;
	border: solid 1px white;
	border-radius: 1px;
	text-align: center;
	background-color: #323232;
	transition: .5s;
}
input:focus {
	background-color: #202020;
}

#left {
	float: left;
	width: calc(100% - 200px);
	height: 100%;
}
#right {
	float: right;
	width: 200px;
	height: 100%;
}
#screen {
	border-radius: 3px;
}
#screen-container {
	margin: 25px 45px;
    height: calc(100% - 120px);
	border-radius: 3px;
	border: solid 1px white;
	background-color: #191919;
	box-shadow: 0px 2px 15px #101010;
	cursor: crosshair;
}	
#menu {
	float: right;
	height: 100%;
    background-color: #272727;
    border-left: solid 1px white;
    box-shadow: 2px 0px 10px #101010;
}
.sub-menu {
    text-align: center;
}


@media screen and (max-width: 860px) {


h1 {
	font-size: 30px;
	letter-spacing: 2px;
}
h2 {
    margin: 10px 0px 5px;
	font-size: 20px;
	letter-spacing: 1px;
}
#left {
	float: left;
	width: calc(100% - 160px);
	height: 100%;
}
#right {
	float: right;
	width: 160px;
	height: 100%;
}
#screen-container {
    height: calc(100% - 100px);
}	


}

@media screen and (max-width: 600px) {


h1 {
	font-size: 25px;
	letter-spacing: 0px;
}
h2 {
	font-size: 20px;
	letter-spacing: 1px;
}


}


@media screen and (max-width: 500px) {


h1 {
	display: none;
}
h2 {
	display: none;
}
#left {
	width: 100%;
}
#screen-container {
	margin: 90px 0px 0px;
    height: calc(100% - 90px);
    border: none;
}
#menu {
	border-left: none;
	padding-top: 10px;
	border-bottom: solid 1px white;
	position: fixed;
	box-shadow: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
}
.sub-menu:nth-child(1) {
	float: left;
	margin-left: 10px;
}
.sub-menu:nth-child(2) {
	float: right;
	margin-right: 10px; 
}
.sub-menu:nth-child(3) {
	clear: both;
}

}


@media screen and (max-width: 450px) {


button {
	padding: 6px 2px 3px;
	margin: 5px 1px;
}


}